{% extends 'HostelMainBundle::layout.html.twig' %}

{% block content %}
	<div class="jumbotron">
		<div class="col-lg-5" style="float: none;margin: 0 auto;">
			{% include 'HostelMainBundle:Block:loginForm.html.twig' %}
		</div>
	</div>
{% endblock %}